# Ignore virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.streamlit/

# Environment settings
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
